<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zarejestrowani Użytkownicy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/admin.css" th:href="@{css/admin.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald" rel="stylesheet">
    <style>
        body{
        }
        .navbar {
            margin-bottom: 50px;
            border-radius: 0;

        }

        .jumbotron {
            margin-bottom: 0;
        }

        .container{
            font-family: 'Merriweather', serif;
        }
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }
        th{
            color: #4CAF50;
        }
        td{
            color:white;
        }
    </style>
</head>
<body>

<div class="container">
    <h1 style="text-align: center;">Zarejestrowani Użytkownicy</h1>
    <table class="table">
        <thead>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Adres e-mail</th>
        </thead>
        <tbody th:each="item: ${listUsers}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.lastName}"></td>
        <td th:text="${item.email}"></td>
        </tbody>
    </table>
</div>
</body>