<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Strona główna</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/index.css" th:href="@{css/index.css}" rel="stylesheet" type="text/css"  />
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Oswald" rel="stylesheet">
    <style>
        .jumbotron {
            margin-bottom: 0;
        }

        footer {

            padding: 25px;
        }
        .panel-footer{
            font-family: 'Merriweather', serif;
        }
    </style>
</head>
<body>

<div class="jumbotron">
    <div class="container text-center">
        <h1>Gamer Shop</h1>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><li><a th:href="@{'/mydata'}">Moje dane</a></li>
                <li><a th:href="@{'/'}">Produkty</a></li>
                <li><a th:href="@{'/history'}">Historia transakcji</a></li>
                <li><a href="#">Kontakt</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user" th:text="' ' +${listProduct.user.email}"></span> </a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-off" > Wyloguj</span> </a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-4" th:each="item: ${listProduct.products}">
            <div class="panel panel-primary">
                <div class="panel-heading" th:text="${item.description}" style="background-color: #8E6B23"></div>
                <div class="panel-body text-center"> <img th:src="${item.imageSrc}" class="img-fluid" alt="Image"></div>
                <div class="panel-footer" align="center" th:text="${item.price} + ' PLN'"></div>
                <a th:href="@{'/cart/' + ${item.id}}"><button type="button" class="btn btn-success" style="width: 100%">Kup teraz</button></a>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Online Store Copyright</p>
    <form class="form-inline">Get deals:
        <input type="email" class="form-control" size="50" placeholder="Email Address">
        <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
</footer>

</body>
</html>
