<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Logowanie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" />

</head>
<body>
<div class="login-page">
    <div class="form">
        <h1>Logowanie</h1>
        <form action="#" th:action="@{/login}" th:object="${loginUser}" method="post">
            <input type="text" th:field="*{email}" placeholder="email" />
            <input type="password" th:field="*{password}" placeholder="hasło" /></p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>
            <p class="message">Nie masz konta? <a th:href="@{'/register'}">Zarejestruj się</a></p>
        </form>
    </div>
</div>
</body>
</html>