<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet" />

</head>

<body>
<div class="form">
    <form action="#" th:action="@{/register}" th:object="${user}" method="post" >
        <div>
            <h1>Rejestracja konta</h1>
        </div>

        <div>
            <td><input type="text" th:field="*{name}" placeholder="Imię"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="error">Błędne imię</td>
        </div>
        <div>
            <input type="text" th:field="*{lastName}" placeholder="Nazwisko"/>
            <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Błędne imię</td>
        </div>
        <div>
            <input type="text" th:field="*{email}" placeholder="Email"/>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Błędny format emaila</td>
        </div>
        <div>
            <input type="password" th:field="*{password}" placeholder="Hasło"/>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Błędne hasło</td>
        </div>
        <div>
            <input type="password" th:field="*{passwordConf}" placeholder="Powtórz hasło"/></h3>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Utwórz</button>
        <p class="message">Masz już konto? <a href="http://localhost:8080/login">Zaloguj się</a></p>
    </form>
</div>
</body>
</html>